<mat-grid-list cols="4" rowHeight="118px" gutterSize="10px">
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <img mat-card-image src="assets/img/icons/function/monitor_setting.png" >
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <img mat-card-image src="assets/img/icons/function/mail_setting.png" >
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <img mat-card-image src="assets/img/icons/function/lock.png" >
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <img mat-card-image src="assets/img/icons/function/location_family_setting.png" >
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <img mat-card-image src="assets/img/icons/function/system_log.jpg" >
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card>
      <img mat-card-image src="assets/img/icons/function/global_system_config.png" >
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
