<div id="chartListContainer">
  <div id="chartListBarContainer">
    <app-chart-type-selecter [chartType$]="this.chartType$" (selectChartTypeEvent)="selectChartType($event)"></app-chart-type-selecter>
    <app-date-time-ranger
      (dateTimeRangeChangeEvent)="dateTimeRangeChange($event)"
      [ngClass]="{isHidden: this.chartBarOptions.hiddenDateTimeRanger}"
    ></app-date-time-ranger>
    <app-revision-selecter [revision$]="this.revision$" (selectRevisionEvent)="selectRevision($event)" [ngClass]="{isHidden: this.chartBarOptions.hiddenRevision}"></app-revision-selecter>
    <app-retrieve-button></app-retrieve-button>
  </div>
  <div><app-chart-preview></app-chart-preview></div>
</div>
