#chartListContainer {
  display: -webkit-flex;/* Safari */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
#chartListBarContainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

