<div>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row; let i = index">
        <mat-checkbox (click)="onCheckboxClick($event, row, i)"
                      (change)="onCheckboxChange($event, row, i)"
                      [checked]="onCheckboxChecked(row, i)"
                      [aria-label]="checkboxLable(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element">{{element.position}}</td>
    </ng-container>

    <ng-container matColumnDef="S/N">
      <th mat-header-cell *matHeaderCellDef> S/N</th>
      <td mat-cell *matCellDef="let element"><a href="https://www.google.com" target="_blank">{{element.sn}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="Defects">
      <th mat-header-cell *matHeaderCellDef> Defects</th>
      <td mat-cell *matCellDef="let element">{{element.defects}}</td>
    </ng-container>

    <ng-container matColumnDef="Scan Time">
      <th mat-header-cell *matHeaderCellDef> Scan Time</th>
      <td mat-cell *matCellDef="let element">{{element.timeStr}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row, $event)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
